.dishBtn {
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
    background-color: transparent;
    border: 1px solid rgba(109, 109, 109, 0.5);
    transition: 0.1s linear;


    &:hover,
    &:focus {

        background-color: #c7c4b5;

    }
}

button:focus {
    outline: 0;
}