.header {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("./assets/images/img1.jpeg") no-repeat center;

    @supports (-webkit-touch-callout: none) {
        background-attachment: scroll;
    }

    @supports not (-webkit-touch-callout: none) {
        background-attachment: fixed;
    }

    background-size: cover;
    background-color: $header-bgc;
    background-blend-mode: darken;
    border-radius: 0 0 50% 50% / 150px;

    &__name {
        text-align: center;
        margin: 30vh 0 0.2vh 0;
        letter-spacing: 0.5rem;
        // -webkit-text-stroke: 2px black;
    }

    &__description {
        width: 50%;

        .colors {
            display: flex;
            justify-content: center;
        }

        .red {
            width: 200px;
            height: 5px;
            background-color: $red-italy;
        }

        .white {
            width: 200px;
            height: 5px;
            background-color: $white-italy;
        }

        .green {
            width: 200px;
            height: 5px;
            background-color: $green-italy;
        }
    }


}